{% extends "./_base.html" %}
{% block content %}
<main class="p-1">
    <div id="tabs">
        <ul class="nav nav-tabs">
        {% if process %}
            <li class="nav-item">
                <a href="#plot" class="nav-link">描画</a>
            </li>
            {% if memo %}
            <li class="nav-item">
                <a href="#memo" class="nav-link">メモ</a>
            </li>
            {% endif %}
        {% endif %}
            <li class="nav-item">
                <a href="#reference" class="nav-link">参照</a>
            </li>
        </ul>
    {% if process %}
        <div id="plot" class="tab-pane p-0"">
            {% include './tab_graph.html' %}
        </div>
        {% if memo %}
        <div id="memo" class="tab-pane p-0">
            {% include './tab_memo.html' %}
        </div>
        {% endif %}
    {% endif %}
        <div id="reference" class="tab-pane p-0">
            {% include './tab_process.html' %}
        </div>
    </div>
</main>

<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>

{% endblock %}